<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.erp.dao.DepartmentMapper">
	<resultMap type="Department" id="DeptResult">
		<result property="Dcode" column="dcode"/>
		<result property="Dname" column="dname"/>
		<result property="Floor" column="floor"/>
	</resultMap>
	
	<sql id="selectSql">
		select dcode, dname, floor from department
	</sql>
	
	<sql id="insertSql">
		insert into department (dcode,dname,floor) values
		(#{Dcode},#{Dname},#{Floor})
	</sql>
	
	<sql id="updateSql">
		update department
		<set>
			<if test="Dcode != null">dcode=#{Dcode},</if>
			<if test="Dname != null">dname=#{Dname},</if>
			<if test="Floor != null">floor=#{Floor}</if>
		</set>
		where dcode=#{Dcode}
	</sql>
	
	<sql id="whereSql">
		<where>
		<if test="Dcode != null">
			dcode = #{Dcode}
		</if>
		 <if test="Dname != null">
			and dname = #{Dname}
		</if>
		<if test="Floor != null">
			and floor = #{Floor}
		</if> 
		</where>
	</sql>
	
		<!-- insert -->
	 <insert id="insertDept" parameterType="Department">
		<include refid="insertSql"/>
	</insert>
		
		<!-- selectAll -->
	<select id="selectDept" resultType="Department">
		<include refid="selectSql"/>
	</select>
	
	<select id="selectOneDept" parameterType="hashmap" resultMap="DeptResult">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	 	<!-- name -->
	<select id="selectDeptbyName" parameterType="Department" resultMap="DeptResult">
		<include refid="selectSql"/>
		where dname=#{Dname}
	</select>
		
		<!-- update -->
	<update id="updateDept" parameterType="Department">
		<include refid="updateSql"/>
	</update> 
	
		<!-- delete -->
	<delete id="deleteDept" parameterType="Department">
		delete from department where dcode=#{Dcode}
	</delete>
</mapper>